Lists: teams and captains.
Goal: Match each team with its respective captain.

Method: Use zip() to pair elements by index and convert to list/dictionary.


*The zip() function in Python is used to combine multiple iterables (like lists or tuples) element-wise into pairs (or tuples of multiple elements).*

In [1]:
teams = ["India", "England", "NZ", "Aus"]
captains = ["Kohli", "Root", "Williaamson", "Smith"]
print(list(zip(teams, captains)))
print(dict(zip(teams, captains)))

[('India', 'Kohli'), ('England', 'Root'), ('NZ', 'Williaamson'), ('Aus', 'Smith')]
{'India': 'Kohli', 'England': 'Root', 'NZ': 'Williaamson', 'Aus': 'Smith'}

Lists: books, prices, quantities.

Goal: Multiply price Ã— quantity for each book.

Method: Use zip() in a loop to calculate totals.

In [2]:
books = ["textbooks", "exercise books", "story book", "drawing books"]
prices = [100, 60, 90, 70]
quantities = [3, 2, 1, 4]
for book, price, quantity in zip(books, prices, quantities):
  total = price * quantity
  print(f"You bought {quantity} {book} for ${total}")

You bought 3 textbooks for $300
You bought 2 exercise books for $120
You bought 1 story book for $90
You bought 4 drawing books for $280

List: [2, 4, 6, 8, 10]

Goal: Add 10 to each value.

Method: Use list comprehension.

In [3]:
list = [2, 4, 6, 8, 10]
result = [x + 10 for x in list]
print(result)

[12, 14, 16, 18, 20]

Lists: list1, list2

Goal: Iterate one normally, other in reverse.

Method: zip(list1, reversed(list2)).

In [4]:
list1 = [10, 20, 30, 40]
list2 = ["Apples", "Mangoes", "Oranges", "Grapes"]
for a, b in zip(list1, reversed(list2)):
  print(a, b)

10 Grapes
20 Oranges
30 Mangoes
40 Apples

List: Deep nested list with ["f", "g"]

Goal: Add ["h", "i", "j"] to ["f", "g"]

Method: Use deep indexing and .extend()

In [5]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]
list1[2][1][2].extend(sub_list)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

List: [10, 15, 20, 15, 32, 54, 15]

Goal: Delete all 15s

Method: List comprehension with condition

In [6]:
list1 = [10, 15, 20, 15, 32, 54, 15]
result = [x for x in list1 if x != 15]
print(result)

[10, 20, 32, 54]

Dicts: dict_1, dict_2

Goal: Combine into one

Method: Use .update()

Note: Values for duplicate keys will be overwritten

In [7]:
dict_1 = {'John': 15, 'Rick': 10, 'Misa': 12}
dict_2 = {'Bonnie': 18, 'Rick': 20, 'Matt': 16}
dict_1.update(dict_2)
print(dict_1)

{'John': 15, 'Rick': 20, 'Misa': 12, 'Bonnie': 18, 'Matt': 16}

Dict: {0: 0, 1: 1, ...}

Goal: Change key 0 to 4

Method: d[4] = d.pop(0)

In [8]:
d = {0: 0, 1: 1, 2: 2, 3: 3}
d[4] = d.pop(0)
print(d)

{1: 1, 2: 2, 3: 3, 4: 0}

Lists: country, capital

Goal: Create key-value pairs

Method: dict(zip(country, capital)).

In [9]:
country = ["USA", "France", "India"]
capital = ["Washington D.C.", "Paris", "New Delhi"]
result = dict(zip(country, capital))
print(result)

{'USA': 'Washington D.C.', 'France': 'Paris', 'India': 'New Delhi'}

Dict: Contains multiple items

Goal: Remove "Book", "Crystal"

Method: Loop with .pop(key, None)

In [10]:
My_dict = {
"Fruit": "Pear",
"Vegetable": "Carrot",
"Pet": "Cat",
"Book": "Moby dick",
"Crystal": "Amethyst"
}
keysToRemove = ["Book", "Crystal"]
for key in keysToRemove:
  My_dict.pop(key, None)
  print(My_dict)

{'Fruit': 'Pear', 'Vegetable': 'Carrot', 'Pet': 'Cat', 'Crystal': 'Amethyst'}
{'Fruit': 'Pear', 'Vegetable': 'Carrot', 'Pet': 'Cat'}

Dict: sub_dict

Goal: Extract subset using specific keys

Method: Dictionary comprehension

In [11]:
sub_dict = {'math': 100, 'chem': 98, 'sci': 100, 'eng': 100}
key_to_extract = {'math', 'chem', 'sci'}
result = {k: sub_dict[k] for k in key_to_extract}
print(result)

{'math': 100, 'chem': 98, 'sci': 100}

List: A mix of numbers

Goal: Filter only those divisible by 5

Method: Use condition x % 5 == 0.

In [12]:
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
result = [x for x in list1 if x % 5 == 0]
print(result)

[15, 55, 75, 150, 180, 200]

Conditions:

    Divisible by 5 â†’ print.

    Skip if >150 â†’ continue.
    
    Stop if >500 â†’ break.

In [13]:
numbers = [12, 75, 150, 180, 145, 525, 50]

for num in numbers:
    if num > 500:
        break
    if num > 150:
        continue
    if num % 5 == 0:
        print(num)

75
150
145

Input: "@W3Resource.Com"

Goal: Count upper, lower, digits, special.

Method: Use .isupper(), .islower(), .isdigit(), else â†’ special.

In [14]:
text = "@W3Resource.Com"
upper = lower = digit = special = 0
for ch in text:
  if ch.isupper():
    upper += 1
  elif ch.islower():
    lower += 1
  elif ch.isdigit():
    digit += 1
  else:
    special += 1
print("Upper case characters:", upper)
print("Lower case characters:", lower)
print("Number case:", digit)
print("Special case characters:", special)

Upper case characters: 3
Lower case characters: 9
Number case: 1
Special case characters: 2

n = 5 â†’ Add: 2 + 22 + 222 + 2222 + 22222

Method:

    Build number as string.

    Convert to int, accumulate sum.

In [15]:
n = 5
num = ''
total = 0
for i in range(n):
  num += '2'
  total += int(num)
  print(num, end='+')
print(f"\nSum of above series is: {total}")

2+22+222+2222+22222+
Sum of above series is: 24690